$icomoon-font-path: "fonts" !default;
$jt-triangle-down: "\f05b";
$jt-triangle-left: "\f044";
$jt-triangle-right: "\f05a";
$jt-triangle-up: "\f0aa";
$jt-arrow-down: "\e905";
$jt-arrow-left: "\e906";
$jt-arrow-right: "\e907";
$jt-arrow-up: "\e908";
$jt-chevron-down: "\e900";
$jt-chevron-left: "\e901";
$jt-chevron-right: "\e902";
$jt-chevron-up: "\e903";
$jt-chevron-thin-down: "\e909";
$jt-chevron-thin-left: "\e90a";
$jt-chevron-thin-right: "\e90b";
$jt-chevron-thin-up: "\e90c";
$jt-triangle-right2: "\e904";
$jt-angle-double-left: "\f100";
$jt-angle-double-right: "\f101";
$jt-angle-double-up: "\f102";
$jt-angle-double-down: "\f103";
$jt-home: "\f015";
$jt-qq: "\f1d6";


@font-face {
    font-family: 'jiantou';
    src : url('#{$icomoon-font-path}/jiantou.eot?bfjpr2');
    src : url('#{$icomoon-font-path}/jiantou.eot?bfjpr2#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/jiantou.ttf?bfjpr2') format('truetype'),
    url('#{$icomoon-font-path}/jiantou.woff?bfjpr2') format('woff'),
    url('#{$icomoon-font-path}/jiantou.svg?bfjpr2#jiantou') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="jt-"],
[class*=" jt-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'jiantou' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.jt-triangle-down {
    &:before {
        content: $jt-triangle-down;
    }
}

.jt-triangle-left {
    &:before {
        content: $jt-triangle-left;
    }
}

.jt-triangle-right {
    &:before {
        content: $jt-triangle-right;
    }
}

.jt-triangle-up {
    &:before {
        content: $jt-triangle-up;
    }
}

.jt-arrow-down {
    &:before {
        content: $jt-arrow-down;
    }
}

.jt-arrow-left {
    &:before {
        content: $jt-arrow-left;
    }
}

.jt-arrow-right {
    &:before {
        content: $jt-arrow-right;
    }
}

.jt-arrow-up {
    &:before {
        content: $jt-arrow-up;
    }
}

.jt-chevron-down {
    &:before {
        content: $jt-chevron-down;
    }
}

.jt-chevron-left {
    &:before {
        content: $jt-chevron-left;
    }
}

.jt-chevron-right {
    &:before {
        content: $jt-chevron-right;
    }
}

.jt-chevron-up {
    &:before {
        content: $jt-chevron-up;
    }
}

.jt-chevron-thin-down {
    &:before {
        content: $jt-chevron-thin-down;
    }
}

.jt-chevron-thin-left {
    &:before {
        content: $jt-chevron-thin-left;
    }
}

.jt-chevron-thin-right {
    &:before {
        content: $jt-chevron-thin-right;
    }
}

.jt-chevron-thin-up {
    &:before {
        content: $jt-chevron-thin-up;
    }
}

.jt-triangle-right2 {
    &:before {
        content: $jt-triangle-right2;
    }
}

.jt-angle-double-left {
    &:before {
        content: $jt-angle-double-left;
    }
}

.jt-angle-double-right {
    &:before {
        content: $jt-angle-double-right;
    }
}

.jt-angle-double-up {
    &:before {
        content: $jt-angle-double-up;
    }
}

.jt-angle-double-down {
    &:before {
        content: $jt-angle-double-down;
    }
}

.jt-home {
    &:before {
        content: $jt-home;
    }
}

.jt-qq {
    &:before {
        content: $jt-qq;
    }
}
