<article class="about animate-element fade-in" id="about">
    <section class="a-banner" style="background-image:url(uploadfile/a_banner.jpg);">
        <div class="container">
            <div class="tit">关于我们</div>
            <div class="content">工厂比邻美丽的松花江，工厂建于1986年。工厂占地面积15000平方米，厂房面积5000平方米</div>
        </div>
    </section>
    <section class="e-nav">
        <div class="container">
            <a {{if err_catid ==10 }}class="on"{{/if}} href="#About/index/catid/10">公司简介</a>
            <a {{if err_catid ==11 }}class="on"{{/if}} href="#About/index/catid/11">总经理致辞</a>
            <a {{if err_catid ==12 }}class="on"{{/if}} href="#About/index/catid/12">企业文化</a>
        </div>
    </section>
    <section class="a-content">
        <div class="container">
            {{:err_info}}
        </div>
    </section>
</article>
