<article class="index  animate-element fade-in" id="index">
    <section class="i_banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/dist/images/i_banner1.jpg">
                    <img src="/dist/images/i_b1_t1.png" class="tit tit1 animate-element bottom-to-top" alt="">
                    <img src="/dist/images/i_b1_t2.png" class="tit tit2 animate-element bottom-to-top" alt="">
                    <img src="/dist/images/i_b1_t3.png" class="tit tit3 animate-element bottom-to-top" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/dist/images/i_banner2.jpg">
                    <img src="/dist/images/i_b2_t1.png" class="tit tit1 animate-element left-to-right" alt="">
                    <img src="/dist/images/i_b2_t2.png" class="tit tit2 animate-element left-to-right" alt="">
                    <img src="/dist/images/i_b2_t3.png" class="tit tit3 animate-element left-to-right" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/dist/images/i_banner3.jpg">
                    <img src="/dist/images/i_b3_t1.png" class="tit tit1 animate-element right-to-left" alt="">
                    <img src="/dist/images/i_b3_t2.png" class="tit tit2 animate-element right-to-left" alt="">
                    <img src="/dist/images/i_b3_t3.png" class="tit tit3 animate-element right-to-left" alt="">
                </div>
            </div>
            <div class="pagination"></div>
        </div>
    </section>
    <section class="i_pro">
        <div class="container">
            <div class="tit">
                <div class="ch">产品展示</div>
                <div class="en">PRODUCT DISPLAY</div>
            </div>
            <div class="inner clearfix">
                <div class="i-pro-nav  animate-element bottom-to-top">
                    {{for err_type}} {{if (#index+1)%2 == 0 }}
                    <a href="#Products/index/catid/{{:catid}}">
                  {{else}}
                  <a class="fl" href="#Products/index/catid/{{:catid}}">
                  {{/if}}
                  {{:catname}}
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </a> {{/for}}
                </div>
                <div class="i-pro-change  animate-element bottom-to-top">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {{for err_prolist}}
                            <div class="swiper-slide">
                                <div class="pic clearfix container_aspectratio" data-aspectratio="1.17037037037037" data-aspecttype="thiswidth_height_auto" style="background:url(http://nuantong.wxlc.net/{{:photo}}) center; background-size:cover;"></div>
                                <div class="clearfix"></div>
                                <div class="inner">
                                    <div class="title">{{:title}}</div>
                                </div>
                            </div>
                            {{/for}}
                        </div>
                        <div class="pagination"></div>
                    </div>
                    <a href="javascript:void(0);" class="arrow-left"> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
                    <a href="javascript:void(0);" class="arrow-right"> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                </div>
            </div>
        </div>
    </section>
    <section class="i_about">
        <div class="bg opacity-6">
            <div class="container">
                <div class="tit m_T60 animate-element bottom-to-top">
                    <div class="ch animate-element bottom-to-top">关于我们</div>
                    <div class="en animate-element bottom-to-top">ABOUT US</div>
                </div>
                <div class="content m_T60 animate-element bottom-to-top"> 哈尔滨市暖通风机厂位于哈尔滨市松北经济开发区，比邻美丽的松花江，工厂建于1986年。工厂占地面积15000平方米，厂房面积5000平方米。 哈尔滨暖通风机厂是哈尔滨风机产业的龙头企业，暖通产品已顺利通过ISO9001质量体系认证。哈尔滨暖通风机厂是黑龙江省风机协会理事单位、获得消防产品检验合格证，并获黑龙江省轻工业协会授予的“产品质量信得过企业”荣誉称号。工厂有大型... </div> <a class="more animate-element bottom-to-top"
                    href="#About">了解更多</a> </div>
        </div>
    </section>
    <section class="i_cooper">
        <div class="containern">
            <div class="info">
                <div class="tit animate-element bottom-to-top">
                    <div class="ch animate-element bottom-to-top">合作单位</div>
                    <div class="en animate-element bottom-to-top">THE COOPERATION UNIT</div>
                </div>
                <div class="content m_T20 animate-element bottom-to-top">
                    我厂还与哈尔滨电机厂，华能热电厂等多家大型企业合作，我们的风机产品深受这些知名企业的欢迎和好评…
                </div>
                <a href="#Cooper" class="more m_T20 animate-element bottom-to-top">了解更多</a>
            </div>
            <div class="i_cooper_chage animate-element bottom-to-top">
                <a href="javascript:void(0);" class="arrow-left"> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
                <a href="javascript:void(0);" class="arrow-right"> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            {{for err_cooperlist}} {{if (#index+1)%4 == 0 }}
                            <div class="item r">
                                <a href="javascript:void(0)">
                                    <div class="pic container_aspectratio" data-aspectratio="2.162303664921466" data-aspecttype="thiswidth_height_auto" style="background-image:url(http://nuantong.wxlc.net/{{:photo}});"></div>
                                    <div class="bg"></div>
                                    <div class="title">{{:title}}</div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            {{else}} {{if (#index+1)%2 == 0 }}
                            <div class="item r">
                                <a href="javascript:void(0)">
                                    <div class="pic container_aspectratio" data-aspectratio="2.162303664921466" data-aspecttype="thiswidth_height_auto" style="background-image:url(http://nuantong.wxlc.net/{{:photo}});"></div>
                                    <div class="bg"></div>
                                    <div class="title">{{:title}}</div>
                                </a>
                            </div>
                            {{else}}
                            <div class="item">
                                <a href="javascript:void(0)">
                                    <div class="pic container_aspectratio" data-aspectratio="2.162303664921466" data-aspecttype="thiswidth_height_auto" style="background-image:url(http://nuantong.wxlc.net/{{:photo}});"></div>
                                    <div class="bg"></div>
                                    <div class="title">{{:title}}</div>
                                </a>
                            </div>
                            {{/if}} {{/if}} {{/for}}
                        </div>
                    </div>
                    <div class="pagination"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <section class="i_support animate-element fade-in" id="i_support">
        <div class="container">
            <div class="circular c1">
                <div class="circular2"></div>
                <div class="circular3">
                    <div class="tit m_T40">
                        <div class="ch">技术支持</div>
                        <div class="en">TECHNICAL SUPPORT</div>
                    </div>
                </div>
                <div class="span span1"></div>
                <div class="span span2 c"></div>
                <div class="span span3"></div>
                <div class="span span4"></div>
                <div class="span span5"></div>
                <div class="span span6 c"></div>
                <div class="span span7"></div>
                <div class="span span8"></div>
                <div class="span span9 c"></div>
                <div class="span span10"></div>
                <div class="span span11 c"></div>
                <div class="span span12"></div>
            </div>
            <div class="text1 text">
                <div class="title"><i>■</i>先进的生产 管理体系</div>
                <div class="content">公司已于2003年通过ISO9001质量认证，并严格执行5S现场管理法。秉承“团结高效，敬业创新”的文化理念，坚持以可靠的质量，周到的服务，优良的信誉，优惠的价格，为国内外新老客户快步走向辉煌助一臂之力。
                </div>
            </div>
            <div class="text2 text">
                <div class="title"><i>■</i>雄厚的技术 研发实力</div>
                <div class="content">公司具有实力雄厚的人才队伍，100余名员工队伍中工程技术人员占25%以上，拥有以教授级高工、博士为核心的技术研发队伍，进行核心技术开发，进一步提升了公司产品的安全性、稳定性和效率。
                </div>
            </div>
            <div class="text3 text">
                <div class="title"><i>■</i>响应快 完善的售后服务</div>
                <div class="content">我公司郑重向用户承诺：以“一流的产品”、“一流的服务”、“合理的价格”提供优质的风机设备,并提供一年期产品质量三包服务。若产品使用过程中出现任何问题，我方在接到通知8小时内以书面形式答复，48小时内派具相当资格的维修人员/工程师到达用户现场。
                </div>
            </div>
            <div class="text4 text">
                <div class="title"><i>■</i>产品齐全满足您的需求</div>
                <div class="content">我公司现生产产品有各类低中高压离心通风机、电站工业锅炉用离心通引风机、高温通风机、排尘通风机、物料输送风机、一般用途轴流风机、消防排烟风机、斜流风机及多种风机配件。共30多个系列，400多种型号。
                </div>
            </div>
        </div>
    </section>
</article>
