<article class="pro">
    <section class="p-banner" style="background-image:url(http://nuantong.wxlc.net/uploadfile/p_banner.jpg);"></section>
    <section class="p-main">
        <div class="containern">
            <div class="position">
                <a href="#">首页</a><i>></i><a href="#Products">产品中心</a><i>></i><a href="#Products/show/contentid/{{for err_info}}{{:contentid}}{{/for}}">{{:err_title}}</a>
            </div>
            {{for err_info}}
            <div class="p-info">
                <div class="pic">
                    <img src="http://nuantong.wxlc.net/{{:photo}}" height="270" alt="">
                </div>
                <div class="inner">
                    <div class="title">{{:title}}</div>
                    <div class="tel">24小时免费咨询热线：<i>0451-88973803</i></div>
                    <div class="ico">
                        <a class="sh" href="#Service/index/catid/20">售后服务</a>
                        <a class="js" href="#Service/index/catid/19">技术支持</a>
                        <a class="qq" href="javascript:void(0);">QQ咨询</a>
                        <a class="fx" href="">分享产品</a>
                    </div>
                    <a href="#Products/index/catid/{{: #parent.parent.data.err_catid}}" class="backtopro">返回列表</a>
                </div>
            </div>
            {{/for}} {{for err_info}}
            <div class="pro-nav">
                {{if content }}
                <a class="on" href="javascript:void(0);">产品概述</a> {{/if}} {{if c2 }}
                <a href="javascript:void(0);">性能与选用件表</a> {{/if}} {{if c3 }}
                <a href="javascript:void(0);">外形及安装尺寸表</a> {{/if}}
            </div>
            <div class="pro-cmain">
                {{if content }}
                <div class="content" style="display:block">{{:content}}</div>
                {{/if}} {{if c2 }}
                <div class="content">{{:c2}}</div>
                {{/if}} {{if c3 }}
                <div class="content">{{:c3}}</div>
                {{/if}}
            </div>
            {{/for}}
        </div>
    </section>
</article>
